In [1]:
import sklearn as sk
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from zipfile import ZipFile
from sklearn import ensemble
from sklearn import model_selection, metrics

In [2]:
X = np.loadtxt("data/protein_train.data")
y = np.loadtxt("data/protein_train.solution")

X_test = np.loadtxt("data/protein_test.data")
X_valid = np.loadtxt("data/protein_valid.data")

In [13]:
X_data = pd.read_csv("data/protein_train.data", sep=" ", header=None)
y_data = pd.read_csv("data/protein_train.solution", sep=" ", header=None)

X_test_data = pd.read_csv("data/protein_test.data", sep=" ", header=None)
X_valid_data = pd.read_csv("data/protein_valid.data", sep=" ", header=None)

In [38]:
X_data.head(n=5)

,0,1,2,3,4,5,6,7,8,9,...,942,943,944,945,946,947,948,949,950,951
0,0.068,0.068,0.085,0.068,0.000,0.051,0.017,0.000,0.051,0.051,...,8.996,-0.156,-2.296,-5.124,4.268,-0.248,-4.644,2.697,1.124,2.635
1,0.094,0.069,0.064,0.099,0.039,0.073,0.043,0.013,0.034,0.077,...,27.622,2.517,3.343,-19.543,17.150,-11.894,-14.239,-0.212,6.017,8.955
2,0.067,0.062,0.054,0.132,0.045,0.060,0.038,0.018,0.018,0.054,...,64.266,11.886,-0.480,-44.047,39.708,-31.910,-37.893,-5.492,11.690,20.689
3,0.063,0.056,0.071,0.162,0.036,0.058,0.062,0.022,0.036,0.036,...,80.416,21.129,4.508,-55.792,32.963,-26.239,-62.055,-3.766,10.171,20.835
4,0.081,0.085,0.078,0.104,0.030,0.078,0.033,0.000,0.019,0.074,...,34.747,2.485,-2.486,-25.222,22.287,-13.880,-23.592,5.089,10.324,9.218

In [15]:
y_data.head(n=5)

     0
0  0.0
1  0.0
2  0.0
3  0.0
4  1.0

In [16]:
X_test_data.head(n=5)

,0,1,2,3,4,5,6,7,8,9,...,942,943,944,945,946,947,948,949,950,951
0,0.023,0.105,0.128,0.198,0.023,0.081,0.047,0.023,0.035,0.012,...,10.216,2.258,0.692,-5.945,2.025,-2.671,-6.397,-1.536,0.917,2.109
1,0.093,0.040,0.080,0.067,0.027,0.027,0.040,0.000,0.080,0.040,...,8.417,2.118,-2.282,-4.405,6.336,-2.582,-6.677,0.044,-0.939,5.284
2,0.066,0.033,0.090,0.115,0.025,0.066,0.025,0.000,0.016,0.049,...,16.477,0.310,-1.785,-10.345,8.637,-3.963,-11.298,1.775,1.479,5.027
3,0.066,0.062,0.083,0.128,0.024,0.072,0.086,0.021,0.038,0.031,...,36.932,3.657,2.993,-23.523,14.410,-10.497,-23.606,2.681,0.900,5.652
4,0.151,0.022,0.022,0.108,0.011,0.043,0.022,0.000,0.032,0.054,...,13.715,1.693,-2.147,-7.422,6.768,-3.056,-9.066,1.600,1.176,4.839

In [17]:
X_valid_data.head(n=5)

,0,1,2,3,4,5,6,7,8,9,...,942,943,944,945,946,947,948,949,950,951
0,0.084,0.077,0.065,0.127,0.051,0.091,0.043,0.031,0.018,0.043,...,93.281,17.420,-0.935,-58.024,43.715,-28.592,-61.382,6.787,20.343,22.181
1,0.084,0.055,0.078,0.081,0.032,0.072,0.043,0.000,0.006,0.055,...,43.725,6.333,-4.538,-31.537,29.912,-20.474,-25.090,1.788,7.606,16.302
2,0.066,0.077,0.108,0.161,0.059,0.052,0.045,0.031,0.042,0.028,...,33.349,4.767,2.149,-20.506,12.143,-7.558,-22.015,-5.436,1.237,7.297
3,0.125,0.089,0.050,0.110,0.042,0.080,0.050,0.009,0.018,0.062,...,45.685,8.311,0.182,-30.055,28.541,-11.316,-21.188,1.570,10.242,16.791
4,0.135,0.068,0.064,0.147,0.064,0.049,0.023,0.019,0.023,0.056,...,31.622,9.627,2.376,-20.810,21.932,-10.724,-19.972,-0.653,8.546,7.942

In [25]:
from sklearn import ensemble
from sklearn import model_selection, metrics

skf = model_selection.StratifiedKFold(n_splits=10)
skf.get_n_splits(X_data, y_data)
folds = [(tr,te) for (tr,te) in skf.split(X_data, y_data)]
# Initialize a bag of trees
clf = ensemble.BaggingClassifier()
# Cross-validate the bagging trees on the tumor data
# ypred_bt = cross_validate_clf(X_data, y_data, clf, folds)
clf.fit(X_data, y_data)
# # Compute the ROC curve of the bagging trees
# fpr_bt, tpr_bt, thresholds = metrics.roc_curve(y_data, ypred_bt, pos_label=1)
# auc_bt = metrics.auc(fpr_bt, tpr_bt)

# # Plot the ROC curve of the 5 decision trees from earlier
# fig = plt.figure(figsize=(5, 5))

# # for tree_index in range(4):
# #     plt.plot(fpr_dt[tree_index], tpr_dt[tree_index], '-', color='blue') 
# #     plt.plot(fpr_dt[-1], tpr_dt[-1], '-', color='blue', 
# #          label='DT (AUC = %0.2f (+/- %0.2f))' % (np.mean(auc_dt), np.std(auc_dt)))

# # Plot the ROC curve of the bagging trees
# plt.plot(fpr_bt, tpr_bt, color='orange', label='BT (AUC=%0.2f)' % auc_bt)


# plt.xlabel('False Positive Rate', fontsize=16)
# plt.ylabel('True Positive Rate', fontsize=16)
# plt.title('ROC curves', fontsize=16)
# plt.legend(loc="lower right", fontsize=12)

C:\conda\envs\projet-ml\lib\site-packages\sklearn\ensemble\_bagging.py:719: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BaggingClassifier()

In [39]:
clf.score(X_data, y_data)
clf.get_params()

{'base_estimator': None,
 'bootstrap': True,
 'bootstrap_features': False,
 'max_features': 1.0,
 'max_samples': 1.0,
 'n_estimators': 10,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [3]:
bag = ensemble.BaggingClassifier()
# param_grid = {
#     'bootstrap': [True, False],
#     'bootstrap_features': [False, True],
#     'max_features': [1.0, 5.0, 10.0],
#     'max_samples': [1.0, 5.0, 10.0],
#     'n_estimators': [10],
#     'oob_score': [False],
#     'random_state': [None],
#     'warm_start': [False, True]
# }
param_grid = {
    #'bootstrap_features': [False, True],
    'max_features': [1.0, 5.0, 10.0, 100.0, 200.0, 500.0],
    'max_samples': [1.0, 5.0, 10.0, 100.0, 200.0, 500.0],
    'n_estimators': [5, 10, 20],
    'oob_score': [False],
    'random_state': [None],
    'warm_start': [False, True]
}
cv_bagging = model_selection.GridSearchCV(bag, param_grid=param_grid, cv=10, n_jobs=4, verbose=1)

cv_bagging.fit(X, y)

Fitting 10 folds for each of 216 candidates, totalling 2160 fits

In [ ]:
#Mettre verbose a 1 et enlever le param boostrap

In [33]:
y_test = clf.predict(X_test)
y_valid = clf.predict(X_valid)

In [34]:
np.savetxt("protein_test.predict", y_test, fmt="%d")
np.savetxt("protein_valid.predict", y_valid, fmt="%d")
zip_obj = ZipFile('submission.zip', 'w')
zip_obj.write("protein_test.predict")
zip_obj.write("protein_valid.predict")

zip_obj.close()

In [35]:
from sklearn import linear_model
log_reg = linear_model.LogisticRegression()
log_reg.fit(X, y) 
# Predict on the test and validation data.
y_test = log_reg.predict(X_test)
y_valid = log_reg.predict(X_valid)

C:\conda\envs\projet-ml\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [37]:
log_reg.score(X, y)

0.7865506984449716